body {
    background-image: url("../images/forex.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    direction: rtl;
    color: white;
}

section{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 40px;
}
section button{
    padding: 20px;
    background-color: aquamarine;
    font-size: 40px;
    border-radius: 10px;
}

section button a{
color: black;
}

section h3 a{
    font-size: 35px;
    color: rgb(146, 97, 193);
}